*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:burlywood;
    font-family: Arial, sans-serif;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.apply-box{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}
.small{
    font-size: 20px;

}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.form-control{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.lable{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}
input,select,textarea{
    padding: 6px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input:focus,select:focus,textarea:focus{
    outline: none;
    border-color:red;
}
button-container{
    text-align: center;
    display: flex;

}
button{
    background-color: red;
    border: transparent solid 2px;
    padding: 6px 10px;
    color: white;
    border-radius: 8px;
}
button:hover{
    background-color: green;
    border: 2px solid red;
}

